/*google font imported*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

:root {
    --shaddow: 1px 0px 15px 0px rgba(0,0,0,0.5);
}

body {
    background-color: rgba(232, 233, 239, 1);
    font-family: 'Roboto', sans-serif;
}

.form-container {
    width: 400px;
    box-shadow: var(--shaddow);
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#logo {
    display: block;
    width: 100px;
    margin: 0 auto;
}

/*Room styling*/

#video-streams {
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
    width: 80%;
    margin: 0 auto;
}

.video-container {
    border: 1px solid rgba(75, 93, 172, 1);
    border-radius: 5px;
    margin:2px;
    background-color: rgba(198, 202, 219, 1);
    flex-grow: 1;
    max-height: 100%;
    min-height: 350px;
    flex-basis: 49%;
    position: relative;
}

.video-player {
    height: 100%;
    width: 100%;
}

#welcome-message {
    text-align: center;
}

#welcome-message h1 {
    font-size: 36px;
}

#welcome-message p {
    font-size: 16px;
}

.form-field {
    margin-bottom: 15px;
}

.form-field > label {
    font-size: 16px;
    line-height: 1.7em;
}

.form-field > input {
    width: 100%;
    padding: 10px;
    border: 2px solid rgba(198, 202, 219, 1);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.form-field > input[type='submit'] {
    background-color: rgb(48, 66, 136);
    border: none;
    color: #fff;
}

@media screen and (max-width: 450px) {
    .form-container {
        width: 80%;
    }

    #welcome-message h1 {
        font-size: 25px;
    }
}

/*Room styling | controls*/

#controls-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1em;
    position: fixed;
    bottom: 30px;
}

.control-icon {
    width: 30px;
    height: 30px;
    background-color: #fff;
    box-shadow: var(--shaddow);
    border-radius: 5px;
    padding: 10px;
}

#leave-btn {
    background-color: rgba(255, 80, 80, 1);
}

/*room styling*/

#room-name-wrapper {
    text-align: center;
    font-size: 20px;
}

.username-wrappper {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 300;
}

.video-player > * {
    border-radius: 5px;
}

@media screen and (max-width: 1650px){
    .video-container {
        flex-basis: 300px;
        min-height: 200px;
    }
}


