{% extends 'base/base.html' %}
{% load static %}

{% block content %}

    <main>
        <section id="room-name-wrapper">
            <p>Room Name: <span id="room-name">Electricity</span></p>
        </section>

        <section class="video-streams">
            <div class="video-container" id="user-container-1">
                <div class="username-wrappper"><span class="user-name">My name</span></div>
                <div class="video-player" id="user-1">

                </div>
            </div>

            <div class="video-container" id="user-container-1">
                <div class="username-wrappper"><span class="user-name">My name</span></div>
                <div class="video-player" id="user-1">

                </div>
            </div>

            <div class="video-container" id="user-container-2">
                <div class="username-wrappper"><span class="user-name">My name</span></div>
                <div class="video-player" id="user-2">

                </div>
            </div>

            <div class="video-container" id="user-container-3">
                <div class="username-wrappper"><span class="user-name">My name</span></div>
                <div class="video-player" id="user-3">

                </div>
            </div>
        </section>
    </main>

{% endblock content %}

