{% extends 'base/base.html' %}
{% load static %}

{% block content %}

    <main>
        <section id="room-name-wrapper">
            <p><span id="room-name"></span></p>
        </section>

        <section id="video-streams">

        </section>

        <section id="controls-wrapper">
            <img class="control-icon" src="{% static 'images/microphone.svg' %}" id="mic-btn"/>
            <img class="control-icon" src="{% static 'images/video.svg' %}" id="cam-btn"/>
            <img class="control-icon" src="{% static 'images/leave.svg' %}" id="leave-btn"/>
        </section>
    </main>

    <script type="text/javascript" src="{% static 'js/AgoraRTC_N-4.10.2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/streams.js' %}"></script>
{% endblock content %}

